/* General setting -------------------------------------------- */
html {
    font-size: 75%;
    font-family: 'Libre Baskerville', sans-serif !important;
}
body {
    color: gold;
    height: fit-content;
    background-color: #1a1d20;
}
* { box-sizing: border-box !important; }
hr { border-color: rgba(255, 255, 255, 0.2) }
.hidden { display: none }
.F-small { font-size: 1.8rem !important;}
.F-medium { font-size: 2.1rem !important;}
.F-large { font-size: 2.4rem !important;}
.F-large-x { font-size: 2.7rem !important;}
.F-main { font-family: 'Libre Baskerville', sans-serif !important;}
.F-text { font-family: 'Times New Roman', sans-serif !important;}
.F-huge { font-size: 4rem !important;}
.F-italic { font-style: italic !important;}
.F-bold { font-weight: bold !important;}
.C-White { color: #DDD !important;}
.C-Black { color: black !important;}
.C-Gray { color: #333 !important;}
.C-Gold { color: #d9b60a !important;}
a { text-decoration: none !important;}
hr {
    border: 1px solid #d9b60a;
    opacity: 1;
    background-color: #555;
    box-shadow: 1px 5px 7px yellow;
}
.justify {
    text-align: justify;
    text-justify: inter-word;
}
.disabled {
    opacity: 0.5;
}
/* General setting -------------------------------------------- */



/* Navigation bar --------------------------------------------- */
/* Mobile */
/* Tablet */
/* Laptop */
nav {
    position: sticky;
    top: 0;
    border-top: 1px solid rgba(100, 100, 100, 0.2);
    border-bottom: 1px solid rgba(100, 100, 100, 0.2);
    background-color: #101010 !important;
    text-align: center;
    height: 100vh;
}
nav ul {
    margin-top: 20vh;
    padding: 0 2rem;
}
nav li {
    padding: 2rem;
    height: 10vh;
}
/* Navigation bar --------------------------------------------- */



/* Main ------------------------------------------------------- */
/* Mobile */
/* Tablet */
/* Laptop */
.card {
    background: #111;
    border: 2px solid #333;
    border-radius: 10px !important;
}
.card img {
    aspect-ratio: 1;
    width: 90%;
    border-radius: 10px !important;
}
.skill {
    background-color: #111;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
button {
    background-color: #d9b60a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}
/* Main ------------------------------------------------------- */
